<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984681401285-kl7iaen71g4s95i4fjressauh0c20r5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984681401285-kl7iaen71g4s95i4fjressauh0c20r5m</string>
	<key>API_KEY</key>
	<string>AIzaSyB2Dh8nPPMlPbedRaAhF_Wmnf_-xaKKETk</string>
	<key>GCM_SENDER_ID</key>
	<string>984681401285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anixplayer.ios</string>
	<key>PROJECT_ID</key>
	<string>anixplayer-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>anixplayer-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984681401285:ios:244d3971de77abb5a959ac</string>
</dict>
</plist>